<h1><%= "EDIT: " + @task.name %></h1>

<%= form_for(@task) do |f| %>
    <%= f.label :name%><br>
    <%= f.text_field :name%><br>
    <br><%= f.label :description%><br>
    <%= f.text_area :description%><br>
    <br><%= f.label "Bucket"%>
    <%= f.collection_select :bucket_id, Bucket.order(:name),:id, :name %><br>
    <br><%= f.check_box :status, {}, "Completed", "Pending" %> Completed?<br>
    <br><%= f.submit %><br>
<% end %>

<br><%= button_to "Delete Task", @task, :method => :delete, data: {confirm: 'Are you sure?'} %>
